
<style type="text/css">
.myrow-container {
	margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}
</style>

	<div class="container"  ng-controller="descCtrl">
		<div class="panel panel-success myrow-container">
			<div class="panel-heading">
				<h3 class="panel-title">
					<div align="center">
						<b>Add Mobile Details</b>
					</div>
				</h3>
			</div>
			<div class="alert alert-danger alert-dismissable" ng-show="show">
				<a href="javascript:void(0)" class="close"  aria-label="close" ng-click="close()">&times;</a>
				<div style="text-align: center;">{{alter}}</div>
			</div>
			<div class="panel-body">
				<form ng-submit="sendMessage()">
					<div class="form-group">
						<input type="text" ng-model="info.name" name="name"
							placeholder="Name" required
							class="form-control" />
					</div>
					
					<div class="form-group">
						<input type="text" ng-model="info.mobile" name="mobile"
							placeholder="Mobile" required
							class="form-control" />
					</div>

					<div class="form-group">
						<input type="text" ng-model="info.desc" name="desc"
							class="form-control" placeholder="Description" required
							 />
					</div>

					<button type="submit" class="btn btn-primary ">Add</button>
					<a href="{{contextPath}}/views/home.html" class="btn btn-primary">Home</a>
				</form>
			</div>
		</div>
	</div>

